*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #4D2E7F;
    --sb-track-color: #b79de1;
    --sb-thumb-color: #4d2e7f;
    --sb-size: 15px;
}
body::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }